.main-footer {
    background-color: var(--color-background-neutral-5);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 34px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    gap: 16px;
}

/* Parte esquerda (logo + texto) */
.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.footer-left img {
    width: 40px;
    height: auto;
    opacity: 0.9;
}

.footer-left p {
    color: var(--color-text-neutral-80);
    font-size: var(--font-size-b);
    font-weight: var(--font-weight-regular);
    margin: 0;
}

/* Parte direita (contato e LinkedIn) */
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.footer-right a {
    color: var(--color-text-neutral-80);
    font-size: var(--font-size-b);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-right a:hover {
    color: var(--color-button-primary-70);
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .main-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px 120px;
    }

    .footer-left {
        flex-direction: row;
        text-align: left;
        align-items: center;
        gap: 12px;
    }

    .footer-left img {
        margin-bottom: 0;
    }

    .footer-right {
        flex-direction: row;
        gap: 24px;
    }
}